@media (min-width: 550px) {
  	h1 { 
  		font-size: 5.0rem; 
  	}
  	h2 { 
  		font-size: 4.2rem; 
  	}
  	h3 { 
  		font-size: 3.6rem; 
  	}
  	h4 { 
  		font-size: 3.0rem; 
  	}
  	h5 { 
  		font-size: 2.4rem; 
  	}
  	h6 { 
  		font-size: 1.5rem; 
  	}
}