.sub-label {
	display: inline;
	padding: .3em .6em;
	margin-left: .5em;
	font-size: 50%;
	font-weight: normal;
	line-height: 1;
	color: #fff;
	background: #eee;
	color: #999;
	text-align: center;
	white-space: nowrap;
	vertical-align: top;
	border-radius: 3px;
}
.sub-flag {

}